@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    /* Set box-sizing so that If we add any padding or border to an element, it doesn't affect the width of it.*/
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal align */
    justify-content: center; /* Vertical align. Works when height is set */
    height: 100vh;
    overflow: hidden; /* No scrollbars by default */
    margin: 0;
}